<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo_menu">

            <div onclick="abrirModal('modal_menu')" id="rayas">
                <div class="raya"></div>
                <div class="raya"></div>
                <div class="raya"></div>
            </div>
            <img id="logo" src="../assets/logo_stoDomingo.png" alt="Logo de la escuela">
        </div>

        </div>

        <h1>U.E Sto Domingo</h1>
        <button id="admin-btn" onclick="logout()">Logout</button>
    </header>

</body>
</html>